# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio files
src/ARM
src/Debug
src/ipch
src/Release
src/MoeDictRT.sdf
src/MoeDictRT.v11.suo
src/MoeDictRT/ARM
src/MoeDictRT/Debug
src/MoeDictRT/Release
src/MoeDictRT/x64
src/MoeDictRT/MoeDictRT.vcxproj.filters
src/MoeDictRT/MoeDictRT.vcxproj.user
src/x64

